.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    row-gap: 50px;
    column-gap: 100px;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar {
    display: none;
  }